footer {
      background-color: #202020;
      color: white;
      text-align: center;
      padding: 15px;
      margin-top: 50px;
    }
    body{
     background-image: url("https://concepto.de/wp-content/uploads/2020/08/Programacion-informatica-scaled-e1724960033513.jpg");
}